* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contentBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.section {
    margin-left: -136px;
}

.title {
    /*font-family: 'Neonderthaw', cursive;*/
    font-family: 'Caveat', cursive;
    /*font-family: 'Indie Flower', cursive;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 40px;
    margin-top: 18px;
    margin-bottom: 18px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.headerContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.btnLogOut {
    border: 1px transparent;
    background: transparent;
    color: #fff;
    width: auto;
    padding-bottom: 3px;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}

.logOutContainer {
    width: 106.21px;
}

.btnLogOut:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    border-bottom: 1px solid #0fa;
}

.borde {
    height: 0.1px;
    width: 100%;
    border-bottom: 2px solid #fff;
    box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

h2 {
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px 20px 20px 20px;
    border: 20px ridge #aeaeae;
}

.article {
    margin: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.txt {
    color: red;
    font-weight: bold;
    display: none;
    z-index: 20;
    justify-content: center;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
}

.caja {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.saldo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titleSaldo {
    color: #fff;
}

.numeroSaldo {
    padding: 10px;
    width: auto;
    height: 20px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
}

.containerTirada {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
    width: auto;
    height: auto;
}

.labelTirada {
    color: #fff;
}

.tirada {
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding-left: 10px;
    outline: none;

}

.tirada:hover {
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px #cfcfcf;
    z-index: 1;
    transition: -webkit-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.cuantasTiradas {
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding-left: 10px;
    outline: none;

}

.cuantasTiradas:hover {
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px #cfcfcf;
    z-index: 1;
    transition: -webkit-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.botonJugar {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #04c887;
    color: #fff;
}

.botonJugar:hover {
    background-color: #039e6a;
}

.botonJugar:active {
    background-color: #036f4b;
}

.btnCanjear {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #04c887;
    color: #fff;
}

.btnCanjear:hover {
    background-color: #039e6a;
}

.btnCanjear:active {
    background-color: #036f4b;
}

.btnInventario {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #04c887;
    color: #fff;
}

.btnInventario:hover {
    background-color: #039e6a;
}

.btnInventario:active {
    background-color: #036f4b;
}

.btnRecarga {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #04c887;
    color: #fff;
}

.btnRecarga:hover {
    background-color: #039e6a;
}

.btnRecarga:active {
    background-color: #036f4b;
}

.btnCerrarCanjear {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(255, 0, 0);
    color: white;
    margin-top: 10px;
}

.btnCerrarCanjear:hover {
    background-color: rgb(174, 0, 0);
}

.botonSalir {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(255, 0, 0);
    color: white;
}

.botonSalir:hover {
    background-color: rgb(174, 0, 0);
}

.boxContainer {
    z-index: -1;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

body {
    height: 100%;
    min-height: 721.60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    opacity: 90%;
}

.footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footerContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footerText {
    font-size: 16px;
    color: #fff;
}

.fa-brands {
    font-size: 25px;
}

.fa-brands:hover {
    color: #0fa
}

span {
    display: line;
}

input {
    height: 50px;
}

.modal1 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: rgba(119, 119, 119, 0.84);
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: rgba(119, 119, 119, 0.84);
}

.bnvTitle {
    text-shadow: 0 0 7px #1d1d1d;
    text-align: center;
}

.chauTitle {
    text-shadow: 0 0 7px #1d1d1d;
    font-size: 40px;
    text-shadow: 0 0 7px #1d1d1d;
    font-size: 40px;
    text-align: center;
}

.menorEdadTitle {
    text-shadow: 0 0 7px #1d1d1d;
    font-size: 40px;
    text-align: center;
}

.cajaBtnSalir {
    display: flex;
    width: 239px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.modalContainer {
    background: #fff;
    width: 500px;
    height: auto;
    position: absolute;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 7px;
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;

    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    visibility: visible;
}

.p {
    padding: 15px;
}

.labelsLogIn {
    display: flex;
    flex-direction: column;
}

.botonContinuar {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #04c887;
    color: #fff;
}

.botonContinuar:hover {
    background-color: #039e6a;
}

.botonCanjear {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #04c887;
    color: #fff;
}

.botonCanjear:hover {
    background-color: #039e6a;
}

.botonIngresar {
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #04c887;
    color: #fff;
}

.botonIngresar:hover {
    background-color: #039e6a;
}

.modalContainer1 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modalContainer2 {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modalContainer3 {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: rgba(119, 119, 119, 0.84);
}

.alertMenorEdad {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: rgba(119, 119, 119, 0.84);
}

.modalCanjear {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: rgba(119, 119, 119, 0.84);
}

.modalRecarga {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: rgba(119, 119, 119, 0.84);
}

.modalInventario {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: rgba(119, 119, 119, 0.84);
}

.recargaContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.premiosContainer {
    background: #fff;
    max-width: 1133px;
    padding: 10px;
    width: 100%;
    min-height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #fff;
    border-radius: 7px;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible;
}

.inventarioContainer {
    background: #fff;
    max-width: 1133px;
    padding: 10px;
    width: 100%;
    margin: 20px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #fff;
    border-radius: 7px;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible;
}

.skins {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.card {
    padding-top: 20px;
    display: flex;
    width: 185px;
    height: 232px;
    background-color: rgb(215, 215, 215);
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 7px 20px #bda9a9;

}

.card:hover {
    box-shadow: 0px 7px 20px #757272;
    transition: 0.4s;
}

.inventario__canjear {
    display: flex;
    margin-right: 51px;
    margin-top: -148px;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.popUp__premioX {
    display: none;
    margin-top: -146px;
    margin-left: 836px;
    position: absolute;
    z-index: 100;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.premio {
    font-size: 200px;
    color: #fff;
    font-weight: bold;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible;
}

.inpRecarga {
    height: 40px;
    width: 165px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    border: 1px solid #000;
    border-radius: 4px;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }

    60% {
        -webkit-transform: scale(1.1);
    }

    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes bigEntrance {
    0% {
        transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }

    30% {
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }

    45% {
        transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }

    60% {
        transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }

    75% {
        transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }

    90% {
        transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes bigEntrance {
    0% {
        -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }

    30% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }

    60% {
        -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }

    75% {
        -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }

    90% {
        -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

#formulario {
    display: flex;
    height: 350px;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#contFormulario {
    display: flex;
    height: 444px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

#nombre {
    width: 350px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#apellido {
    width: 350px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#edad {
    width: 350px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.enviar {
    width: 100px;
    height: 30px;
}

#contenido {
    color: #fff;
}

.emojiContainer {
    width: 100%;
    max-width: 269px;
    height: 100%;
    max-height: 270px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.formRecarga {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.emoji3 {
    font-size: 60px;
    animation-name: slideDown3;
    -webkit-animation-name: slideDown3;

    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

.emoji2 {
    font-size: 60px;
    animation-name: slideDown2;
    -webkit-animation-name: slideDown2;

    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

.emoji1 {
    font-size: 60px;
    animation-name: slideDown1;
    -webkit-animation-name: slideDown1;

    animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

/*animacion emojis ultima fila*/
@keyframes slideDown3 {
    0% {
        transform: translateY(-260%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown3 {
    0% {
        -webkit-transform: translateY(-260%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

/*animacion emojis segunda fila*/
@keyframes slideDown2 {
    0% {
        transform: translateY(-160%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown2 {
    0% {
        -webkit-transform: translateY(-160%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

/*animacion emojis primer fila*/
@keyframes slideDown1 {
    0% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown1 {
    0% {
        -webkit-transform: translateY(-70%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}